<div id="movies-cnt">
    <h1>Ironhack Cinema</h1>
    <p>Click on the movie to check the showtimes!</p>
    <a href="/movies/new">Create new movie</a>
    <main>
        {{#each movies}}
            <div id="movie-cnt">
                <img src={{this.image}} alt=""/>
                <h3>{{this.title}}</h3>
                <a href="/movies/{{this._id}}"><p>See more</p></a>
            </div>
        {{/each}}
    </main>
</div>

